
        <%= render "score_board" %>

        <div id="gameworld">
          <div id="world">
            <canvas id="imageCanvas" width="481" height="401" style="z-index: 0;">FiercePlanet needs support for Canvas - please try a modern brower</canvas>
              <div id="map_canvas" width="481" height="401" style="z-index: 1;"></div>
            <canvas class="scrollable-canvas" id="baseCanvas" width="481" height="401" style="z-index: 2;"></canvas>
            <canvas class="scrollable-canvas" id="resourceCanvas" width="481" height="401" style="z-index: 3;"></canvas>
            <canvas id="scrollingCanvas" width="481" height="401" style="z-index: 4;"></canvas>
            <canvas id="noticeCanvas" width="481" height="401" style="z-index: 5;"></canvas>
            <canvas class="scrollable-canvas" id="agentCanvas" width="481" height="401" style="z-index: 6;"></canvas>
          </div>
        </div>


 

        <!-- Should always be visible -->
        <%= render "links_panel" %>

        <!-- Should always be visible -->
        <%= render "control_panel" %>

        <!-- Should only be visible when NOT in design mode -->
        <%= render 'swatch' %>


        <!-- Should only be visible when in design mode -->
        <%= render 'level_editor' %>

    <!-- Dialog boxes - should only be visible when explicitly invoked -->
    <%= render 'dialog_delete_upgrade' %>
    <%= render 'dialog_resource_gallery' %>
    <%= render 'dialog_level_gallery' %>
    <%= render 'dialog_settings' %>

    <!--<audio id="background-sound" autoplay controls preload loop>-->
      <!--<source src="http://forestmist.org/wp-content/uploads/2010/04/html5-audio-loop.mp3">-->
    <!--</audio>-->
