
        <%= render "score_board" %>

        <div id="gameworld">
          <div id="world">
            <canvas id="imageCanvas" width="480" height="400" style="z-index: 0;">This text is displayed if your browser does not support HTML5 Canvas.</canvas>
              <div id="map_canvas" width="480" height="400" style="z-index: 1; border: 0"></div>
            <canvas class="scrollable-canvas" id="baseCanvas" width="480" height="400" style="z-index: 2;"></canvas>
            <canvas class="scrollable-canvas" id="resourceCanvas" width="480" height="400" style="z-index: 3;"></canvas>
            <canvas id="scrollingCanvas" width="480" height="400" style="z-index: 4;"></canvas>
            <canvas id="noticeCanvas" width="480" height="400" style="z-index: 5;"></canvas>
            <canvas class="scrollable-canvas" id="agentCanvas" width="480" height="400" style="z-index: 6;"></canvas>
          </div>
        </div>



        <%= render "graph_panel" %>


        <!-- Should always be visible -->
        <%= render "links_panel" %>

        <!-- Should always be visible -->
        <%= render "control_panel" %>

        <!-- Should only be visible when NOT in design mode -->
        <%= render 'swatch' %>


        <!-- Should only be visible when in design mode -->
        <%= render 'level_editor' %>

    <!-- Dialog boxes - should only be visible when explicitly invoked -->
    <%= render 'dialog_delete_upgrade' %>
    <%= render 'dialog_resource_gallery' %>
    <%= render 'dialog_level_gallery' %>
    <%= render 'dialog_settings' %>

    <!--<audio id="background-sound" autoplay controls preload loop>-->
      <!--<source src="http://forestmist.org/wp-content/uploads/2010/04/html5-audio-loop.mp3">-->
    <!--</audio>-->
