<header>
  <!--Heading-->
</header>


<div id="left-pane">
  <p></p>
</div>
<div id="content-pane">
  <div id="main-panel">
    <%= render "score_board" %>


    <div id="gameworld">
      <div id="world">
        <div id="map_canvas" width="401" height="401" style="z-index: 1;"></div>
        <canvas id="c1" width="401" height="401" style="z-index: 2;">A Canvas</canvas>
        <canvas id="c2" width="401" height="401" style="z-index: 3;">A Canvas</canvas>
        <canvas id="c3" width="401" height="401" style="z-index: 4;">A Canvas</canvas>
        <canvas id="c4" width="401" height="401" style="z-index: 5;">A Canvas</canvas>
      </div>
    </div>

    <div id="info">
      <div id="level-info">
      </div>
      <div id="global-info">
      </div>
    </div>

    <!-- Should always be visible -->
    <%= render "control_panel" %>

    <!-- Should only be visible when NOT in design mode -->
    <%= render 'swatch' %>

    <!-- Should only be visible when in design mode -->
    <%= render 'level_editor' %>
  </div>

</div>
<div id="right-pane">
  <p></p>
</div>




<!-- Dialog boxes - should only be visible when explicitly invoked -->
<%= render 'dialog_level_list' %>
<%= render 'dialog_delete_upgrade' %>
<%= render 'dialog_resource_gallery' %>

