
    <%= render "score_board" %>

    <div id="gameworld">
      <div id="world">
        <div id="map_canvas" width="481" height="401" style="z-index: 1;"></div>
        <canvas id="baseCanvas" width="481" height="401" style="z-index: 2;">A Canvas</canvas>
        <canvas id="resourceCanvas" width="481" height="401" style="z-index: 3;">A Canvas</canvas>
        <canvas id="scrollingCanvas" width="481" height="401" style="z-index: 4;">A Canvas</canvas>
        <canvas id="noticeCanvas" width="481" height="401" style="z-index: 5;">A Canvas</canvas>
        <canvas id="agentCanvas" width="481" height="401" style="z-index: 5;">A Canvas</canvas>
      </div>
    </div>


    <div id="info">
      <div id="global-info">
        <div id="user-links">
            <% if user_signed_in? %>
                <div id="profile" style="display:none"> Profile: <span id="profile-class-display">0</span> </div>
                <%= 'Welcome, ' + current_user.profile.nickname + ', [' + current_user.profile.profile_class + '] ' + ' | '  if current_user and current_user.profile.nickname %>
                <%= link_to('Profile', edit_profile_path(current_user.profile)) %> |
                <%= link_to('Feedback', new_feedback_path) %> |
                <%= link_to('Logout', destroy_user_session_path) %>
            <% else %>
                <%= link_to('Login', new_user_session_path) %>
            <% end %>
        </div>
      </div>
    </div>

    <!-- Should always be visible -->
    <%= render "control_panel" %>

    <!-- Should only be visible when NOT in design mode -->
    <%= render 'swatch' %>
    <!-- Should only be visible when in design mode -->
    <%= render 'level_editor' %>

    <!-- Dialog boxes - should only be visible when explicitly invoked -->
    <%= render 'dialog_level_list' %>
    <%= render 'dialog_delete_upgrade' %>
    <%= render 'dialog_resource_gallery' %>
    <%= render 'dialog_settings' %>

    <!--<audio id="background-sound" autoplay controls preload loop>-->
      <!--<source src="http://forestmist.org/wp-content/uploads/2010/04/html5-audio-loop.mp3">-->
    <!--</audio>-->
