<h1>Listing entry_points</h1>

<table>
  <tr>
    <th>Level</th>
    <th>Agent type</th>
    <th>X</th>
    <th>Y</th>
    <th>Renew each wave</th>
    <th>Initial number</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @entry_points.each do |entry_point| %>
  <tr>
    <td><%= entry_point.level_id %></td>
    <td><%= entry_point.agent_type %></td>
    <td><%= entry_point.x %></td>
    <td><%= entry_point.y %></td>
    <td><%= entry_point.renew_each_wave %></td>
    <td><%= entry_point.initial_number %></td>
    <td><%= link_to 'Show', entry_point %></td>
    <td><%= link_to 'Edit', edit_entry_point_path(entry_point) %></td>
    <td><%= link_to 'Destroy', entry_point, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Entry point', new_entry_point_path %>
