<div id="edit-properties-tabs">
  <ul>
    <li><a href="#core-fields">Basic</a></li>
    <li><a href="#advanced-fields">Advanced</a></li>
    <li><a href="#google-fields">Google Maps</a></li>
  </ul>


  <%= form_for @level, :remote => true, :html => { :class => "edit_level_properties", :id => "edit_level_properties_" + @level.id.to_s} do |f| %>
      <%= f.hidden_field :json_blob %>
      <% if @level.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@level.errors.count, "error") %> prohibited this level from being saved:</h2>

            <ul>
              <% @level.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
      <% end %>

      <div id="core-fields">
        <div class="field">
          <%= f.label :id %>: <%=	 @level.id %>
        </div>
        <div class="field">
          URL:
          <br/>
          <input type="text" value="http://www.fierce-planet.com/?id=<%=	 @level.id %>">
          <a target="_blank" href="/?id=<%=	 @level.id %>" style="font-size:0.9em">(Open in new window)</a>
        </div>
        <div class="field">
          <%= f.label :name %>
          <br/>
          <%= f.text_field :name %>
        </div>
        <% unless @level.id %>
            <div class="field">
              <%= f.label :world_width %>
              <br/>
              <%= f.select :world_width, 5.upto(100) %>
            </div>
            <div class="field">
              <%= f.label :world_height %>
              <br/>
              <%= f.select :world_height, 5.upto(100) %>
            </div>
        <% end %>
        <div class="field">
          <%= f.label :initial_agent_number %>
          <br/>
          <%= f.select :initial_agent_number, 1.upto(20) %>
        </div>
        <div class="field">
          <%= f.label :wave_number %>
          <br/>
          <%= f.select :wave_number, 1.upto(20) %>
        </div>
        <div class="field">
          <%= f.label :expiry_limit %>
          <br/>
          <%= f.select :expiry_limit, 1.upto(20) %>
        </div>
      </div>
      <div id="advanced-fields">
        <div class="field">
          <%= f.label :notice %>
          <br/>
          <%= f.text_area :notice, :rows => 5 %>
        </div>
        <div class="field">
          <%= f.check_box :allow_offscreen_cycling %> <%= f.label :allow_offscreen_cycling %>
        </div>
        <div class="field">
          <%= f.check_box :allow_patches_on_path %> <%= f.label :allow_patches_on_path %>
        </div>
      </div>
      <div id="google-fields">
        <p>
          Note: you can include a Google Map as the background image.
        </p>

        <div>Google Map Fields</div>
        <div class="field">
          <%= f.label :google_map_type_id, "Map Type" %>
          <%= f.select :google_map_lat, {
                  'SATELLITE'=> 'satellite',
                  'ROADMAP' => 'roadmap',
                  'HYBRID' => 'hybrid' ,
                  'TERRAIN'  => 'terrain',
                  'SKY' => 'sky' ,
                  'MARS - VISIBLE' => 'mars_visible' ,
                  'MARS - INFRARED' => 'mars_infrared',
                  'MARS - ELEVATION' => 'mars_elevation' ,
                  'MOON'  => 'moon'
          } %>
        </div>
        <div class="field">
          <%= f.label :google_map_lat, "Latitude" %>
          <%= f.text_field :google_map_lat, {:size => 10} %>
        </div>
        <div class="field">
          <%= f.label :google_map_long, "Longitude" %>
          <%= f.text_field :google_map_long, {:size => 10} %>
        </div>
        <div class="field">
          <%= f.label :google_map_tilt, "Tilt" %>
          <%= f.text_field :google_map_tilt, {:size => 10} %>
        </div>
        <div class="field">
          <%= f.label :google_map_zoom, "Zoom" %>
          <%= f.text_field :google_map_zoom, {:size => 10} %>
        </div>
      </div>

  <% end %>

</div>
