<%= form_for(@level, :remote => true) do |f| %>
    <% if @level.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@level.errors.count, "error") %> prohibited this level from being saved:</h2>

          <ul>
            <% @level.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= f.label :name %>
      <br/>
      <%= f.text_field :name %>
    </div>
    <% unless @level.id %>
    <div class="field">
      <%= f.label :world_width %>
      <br/>
      <%= f.select :world_width, 8.upto(80) %>
    </div>
    <div class="field">
      <%= f.label :world_height %>
      <br/>
      <%= f.select :world_height, 6.upto(60) %>
    </div>
    <% end %>
    <div class="field">
      <%= f.label :initial_agent_number %>
      <br/>
      <%= f.select :initial_agent_number, 1.upto(20) %>
    </div>
    <div class="field">
      <%= f.label :wave_number %>
      <br/>
      <%= f.select :wave_number, 1.upto(20) %>
    </div>
    <div class="field">
      <%= f.label :expiry_limit %>
      <br/>
      <%= f.select :expiry_limit, 1.upto(20) %>
    </div>
    <div class="field">
      <%= f.check_box :allow_offscreen_cycling %> <%= f.label :allow_offscreen_cycling %>
    </div>
    <div class="field">
      <%= f.check_box :allow_patches_on_path %> <%= f.label :allow_patches_on_path %>
    </div>
    <div class="field">
      <%= f.label :notice %>
      <br/>
      <%= f.text_area :notice, :rows => 5 %>
    </div>
    <div class="field">
      <%= f.label :image_src, "Level Background" %>
      <br/>
      <%= f.text_field :image_src, { :size => 60 } %>
    </div>
    <p>
      Note: you can include a Google Map as the background image.
      See the <a href="http://code.google.com/apis/maps/documentation/staticmaps/"> Google Maps documentation</a> for more information.
    </p>
    <p>
      An example of a Google Map reference is included below.
    </p>
    <textarea>
      http://maps.google.com/maps/api/staticmap?center=30.9376,79.4292&zoom=10&size=401x401&maptype=satellite&sensor=false
    </textarea>


    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
