

// Close the level selection dialog
FiercePlanet.$levelList.dialog('close');

// Add a notification
$('#notifications').html("<p><%= @level.name %> successfully created.</p>");

// Instantiate the current level from the database
<%=  render('levels/setup_level', :locals => { :level => @level}) %>

// Add a hidden form for serialising changes to the level
$('#level-editor-form').html("<%=  escape_javascript(render('levels/inline_form', :locals => { :level => @level})) %>");

// Set up the level properties dialog
FiercePlanet.$editProperties.html("<%=  escape_javascript(render('levels/edit_properties', :locals => { :level => @level})) %>");

// Set the current level number and preset value
FiercePlanet.currentLevelNumber = parseInt("<%= @level.id %>");
FiercePlanet.currentLevelPreset = false;

// Finally, construct the level editor
FiercePlanet.setupLevelEditor();
