<!DOCTYPE html>
<html>
<head>
  <title>Fierce Planet</title>

  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />

  <!-- STYLESHEET INCLUDES -->
  <%= stylesheet_link_tag "styles" %>
  <% if users_browser == 'android' || users_browser == 'ipod' || users_browser == 'iphone'  %>
      <%= stylesheet_link_tag "styles_mobile" %>
  <% end %>
  <%= stylesheet_link_tag "custom/jquery-ui-1.8.14.custom" %>

  
  <!-- JAVASCRIPT INCLUDES -->
  <!-- Allow for optimised use of Google API -->
  <% if Rails.env.production? %>
      <!-- For fierce-planet.herokuapp.com -->
      <script src="https://www.google.com/jsapi?key=ABQIAAAARoOs6ILY9Ci-wjXDl46j4xRmqV9Vj2jWabvTtFU7FCZqsdHUyxRv4pRfbM4fvQzlIKjlBWg4vTT3Hg" type="text/javascript"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js" type="text/javascript"></script>
  <% else %>
      <!-- For localhost -->
      <!--<script src="https://www.google.com/jsapi?key=ABQIAAAARoOs6ILY9Ci-wjXDl46j4xTJQa0g3IQ9GZqIMmInSLzwtGDKaBT5Gl1FUC-xR0F8NySH1hgQiauZJw" type="text/javascript"></script>-->
  <% end %>
  <!-- TODO: Can the custom UI be further optimised? -->
  <%= javascript_include_tag "jquery-1.6.2.js" %>
  <%= javascript_include_tag "jquery-ui-1.8.14.custom.min.js" %>
  <%= javascript_include_tag "jquery.json-2.2.min.js" %>
  <%= javascript_include_tag "jquery.mousewheel.3.0.2/jquery.mousewheel.min.js" %>
  <%= javascript_include_tag "jquery.zoom.js" %>
  <%= javascript_include_tag "sylvester/sylvester.js" %>
  <%= javascript_include_tag "jstat-1.0.0/js/jquery.flot.min" %>
  <%= javascript_include_tag "jstat-1.0.0/js/jstat-0.1.0.min" %>
    <script type="text/javascript"
        src="http://maps.googleapis.com/maps/api/js?sensor=true">
    </script>

  <%= javascript_tag "var AUTH_TOKEN = #{form_authenticity_token.inspect};" if protect_against_forgery? -%>
  <%= javascript_include_tag "rails" %>

  <!-- Load FiercePlanet classes here -->
  <%= javascript_tag "var FiercePlanet = FiercePlanet || {};" -%>

  <script>
    // Test resizing for different devices
      $(document).ready(function() {
          // TODO: Test code for iframe (i.e. Facebook app version)
          if (top != self) {
              $('#wrapper').offset({left:-332, top: -65});
              $('#controls').css({left:-62});
              $('#gameworld').css({left:25});
              $('#world').css({padding: 4});
              $('#global-info-panel').css({left:518});
              $('#swatch').css({left:518});
          }
      });

  </script>

  <% if Rails.env.production? %>
      <%= javascript_include_tag "agents/fierce-planet.min" %>
  <% else %>
      <%= javascript_include_tag "agents/framework/world" %>
      <%= javascript_include_tag "agents/framework/agent" %>
      <%= javascript_include_tag "agents/framework/catastrophe" %>
      <%= javascript_include_tag "agents/framework/culture" %>
      <%= javascript_include_tag "agents/framework/level" %>
      <%= javascript_include_tag "agents/framework/resource" %>
      <%= javascript_include_tag "agents/framework/species" %>
      <%= javascript_include_tag "agents/framework/terrain" %>
      <%= javascript_include_tag "agents/framework/tile" %>

      <%= javascript_include_tag "agents/fp-models/profile" %>
      <%= javascript_include_tag "agents/fp-models/profile_class" %>
      <%= javascript_include_tag "agents/fp-models/notice" %>
      <%= javascript_include_tag "agents/fp-models/event" %>

      <%= javascript_include_tag "agents/fp-data/resource_types" %>
      <!-- Change this to load other resource categories -->
      <%= javascript_include_tag "agents/fp-data/resourceset/tbl" %>
      <%= javascript_include_tag "agents/fp-data/resourceset/cos" %>
      <%= javascript_include_tag "agents/fp-data/player_classes" %>
      <%= javascript_include_tag "agents/fp-data/agent_types" %>

      <%= javascript_include_tag "agents/fp-ui/dialogs" %>
      <%= javascript_include_tag "agents/fp-ui/drawing" %>
      <%= javascript_include_tag "agents/fp-ui/general-ui" %>
      <%= javascript_include_tag "agents/fp-ui/profile-ui" %>
      <%= javascript_include_tag "agents/fp-ui/resource-ui" %>

      <%= javascript_include_tag "agents/editor" %>
      <%= javascript_include_tag "agents/lifecycle" %>
      <%= javascript_include_tag "agents/params" %>
      <%= javascript_include_tag "agents/recording" %>
      <%= javascript_include_tag "agents/utils" %>
      <%= javascript_include_tag "agents/utils/log" %>
      <%= javascript_include_tag "agents/utils/google-map" %>
      <%= javascript_include_tag "agents/utils/isometric" %>
      <%= javascript_include_tag "agents/game" %>

      <!-- Last to load - has strong dependencies on all other classes -->
      <%= javascript_include_tag "agents/fp-data/levels" %>
      <%= javascript_include_tag "agents/dev" %>
  <% end %>


  <!-- CONDITIONAL AND UTILITY BLOCKS -->

  <!-- Set the resource type namespace here -->
  <% if params[:id] %>
      <script>
          $(document).ready(function() {
              <%=  render('levels/setup_level', :locals => { :level => @level}) %>
              FiercePlanet.newLevel();
          });

      </script>
  <% end %>

  <!-- Set the resource type namespace here -->
  <% if params[:rs] %>
    <%= javascript_tag "World.resourceTypeNamespace = " + params[:rs] + ";" -%>
  <% end %>

  <!-- If test parameter is passed, showed the QUnit test runner -->
  <% if params[:test] %>
      <%= raw include_qunit %>
  <% end %>

  <!-- If a user is logged in, set their properties here -->
  <% if current_user %>
      <script>
            // Converts the current (Ruby) profile to a JavaScript object
          var profileProxy = $.evalJSON('<%= raw current_user.profile.to_json(:except => [:created_at, :updated_at]) %>');
          FiercePlanet.currentProfile = profileProxy;
          Profile.makeProfile(FiercePlanet.currentProfile);

          $(document).ready(function() {
              FiercePlanet.GeneralUI.refreshSwatch();
          });

      </script>
  <% end %>

  <%= csrf_meta_tag %>


<script>
  // Test resizing for different devices
    $(document).ready(function() {
        // TODO: Test code for mobile version
        var ua = navigator.userAgent.toLowerCase();
        var isAndroid = ua.indexOf("android") > -1; //&& ua.indexOf("mobile");
        if(isAndroid) {
          // Do something!
          World.settings.agentsCanCommunicate = false;
          World.settings.scrollingImageVisible = false;
        }

    });

</script>
</head>
<body>
<div id="wrapper">
  <div id="content-pane">
    <%= yield %>
  </div>
</div>

</body>
</html>

