<!DOCTYPE html>
<html>
<head>
  <title>Fierce Planet</title>

  <!-- STYLESHEET INCLUDES -->
  <%= stylesheet_link_tag "styles" %>
  <%= stylesheet_link_tag "custom/jquery-ui-1.8.13.custom" %>

  
  <!-- JAVASCRIPT INCLUDES -->
  <%= javascript_include_tag "jquery-1.6.1.js" %>
  <!--<%= javascript_include_tag "jquery.min.js" %>-->
  <%= javascript_include_tag "jquery-ui-1.8.13.custom.min.js" %>
  <%= javascript_include_tag "jquery.json-2.2.min.js" %>
  <%= javascript_include_tag "jquery.mousewheel.3.0.2/jquery.mousewheel.min.js" %>
  <%= javascript_include_tag "jquery.zoom.js" %>


  <%= javascript_tag "var AUTH_TOKEN = #{form_authenticity_token.inspect};" if protect_against_forgery? -%>
  <%= javascript_include_tag "rails" %>

  <!-- Load FiercePlanet classes here -->
  <%= javascript_tag "var FiercePlanet = FiercePlanet || {};" -%>

  <% if Rails.env.production? %>
      <%= javascript_include_tag "agents/fierce-planet.min" %>
  <% else %>
      <%= javascript_include_tag "agents/framework/agent" %>
      <%= javascript_include_tag "agents/framework/catastrophe" %>
      <%= javascript_include_tag "agents/framework/level" %>
      <%= javascript_include_tag "agents/framework/profile" %>
      <%= javascript_include_tag "agents/framework/resource" %>
      <%= javascript_include_tag "agents/framework/player_class" %>
      <%= javascript_include_tag "agents/framework/tile" %>
      <%= javascript_include_tag "agents/ui/notice" %>
      <%= javascript_include_tag "agents/ui/event" %>

      <%= javascript_include_tag "agents/data/resource_types" %>
      <!-- Change this to load other resource categories -->
      <%= javascript_include_tag "agents/data/resourceset/tbl" %>
      <%= javascript_include_tag "agents/data/resourceset/cos" %>

      <%= javascript_include_tag "agents/data/player_classes" %>
      <%= javascript_include_tag "agents/data/agent_types" %>
      <%= javascript_include_tag "agents/dialogs" %>
      <%= javascript_include_tag "agents/drawing" %>
      <%= javascript_include_tag "agents/editor" %>
      <%= javascript_include_tag "agents/general-ui" %>
      <%= javascript_include_tag "agents/lifecycle" %>
      <%= javascript_include_tag "agents/params" %>
      <%= javascript_include_tag "agents/profile-ui" %>
      <%= javascript_include_tag "agents/recording" %>
      <%= javascript_include_tag "agents/resource-ui" %>
      <%= javascript_include_tag "agents/utils" %>
      <%= javascript_include_tag "agents/game" %>
      <%= javascript_include_tag "agents/data/levels" %>
  <% end %>


  <!-- CONDITIONAL AND UTILITY BLOCKS -->

  <!-- Set the resource type namespace here -->
  <% if params[:rs] %>
    <%= javascript_tag "FiercePlanet.resourceTypeNamespace = " + params[:rs] + ";" -%>
  <% end %>

  <!-- If test parameter is passed, showed the QUnit test runner -->
  <% if params[:test] %>
      <%= raw include_qunit %>
  <% end %>

  <!-- If a user is logged in, set their properties here -->
  <% if current_user %>
      <script>
            // Converts the current (Ruby) profile to a JavaScript object
          var profileProxy = $.evalJSON('<%= raw current_user.profile.to_json(:except => [:created_at, :updated_at]) %>');
          FiercePlanet.currentProfile = profileProxy;
          Profile.makeProfile(FiercePlanet.currentProfile);

          $(document).ready(function() {
              FiercePlanet.refreshSwatch();
          });

        // TODO: Test code for mobile version
        var ua = navigator.userAgent.toLowerCase();
        var isAndroid = ua.indexOf("android") > -1; //&& ua.indexOf("mobile");
        if(isAndroid) {
          // Do something!
          // Redirect to Android-site?
          alert('is android');
        }
      </script>
  <% end %>

  <%= csrf_meta_tag %>

</head>
<body>
<div id="content-pane">
  <%= yield %>
</div>
</body>
</html>
