<!DOCTYPE html>
<html>
<head>
  <title>Sustagency</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= javascript_include_tag "agents/agents" %>
  <%= javascript_include_tag "agents/level1" %>
  <%= javascript_include_tag "agents/level2" %>
  <%= javascript_include_tag "agents/world" %>
  <%= csrf_meta_tag %>
</head>
<body>

<%= yield %>

</body>
</html>
