<!DOCTYPE html>
<html>
<head>
  <title>Fierce Planet</title>
  <!--<link href="http://code.google.com/apis/maps/documentation/javascript/examples/default.css" rel="stylesheet" type="text/css" />-->
  <%= stylesheet_link_tag "styles" %>
  <%= stylesheet_link_tag "smoothness/jquery-ui-1.8.11.custom" %>

  <%= javascript_include_tag "jquery.min.js" %>
  <%= javascript_include_tag "jquery-ui.min.js" %>
  <%= javascript_include_tag "jquery.json-2.2.min.js" %>
  <!--<%= javascript_include_tag "http://www.google.com/jsapi" %>-->
  <!--<%= javascript_include_tag "http://maps.google.com/maps/api/js?sensor=true" %>-->

  <%= javascript_tag "var AUTH_TOKEN = #{form_authenticity_token.inspect};" if protect_against_forgery? -%>
  <%= javascript_tag "var PROFILE_ID;" -%>
  <%= javascript_tag "PROFILE_ID = #{current_user.profile.id};" if current_user -%>

  <%= javascript_include_tag "rails" %>
  <%= javascript_include_tag "agents/classes" %>
  <%= javascript_include_tag "agents/resource_kinds" %>
  <%= javascript_include_tag "agents/player_classes" %>
  <%= javascript_include_tag "agents/game" %>
  <%= javascript_include_tag "agents/levels" %>
  <%= javascript_include_tag "agents/level_editor" %>

  <%= javascript_include_tag "agents/maps" %>

  <script type="text/javascript">
  </script>

  <% if current_user %>
      <script>
          profileClass = '<%= current_user.profile.profile_class ? current_user.profile.profile_class : "Novice" %>';
          credits = parseInt('<%= current_user.profile.credits ? current_user.profile.credits : 0 %>');
          capabilities = '<%= current_user.profile.capabilities ? current_user.profile.capabilities : "farm,water,clinic" %>'.split(',');
          totalSaved = parseInt('<%= current_user.profile.total_saved ? current_user.profile.total_saved : 0 %>');
          $(document).ready(function() {
              refreshSwatch();
          });
      </script>
  <% end %>
  <%= csrf_meta_tag %>

</head>
<body>



<div id="left-pane">
  <p></p>
</div>
<div id="content-pane">

  <%= yield %>
</div>
<div id="right-pane">
  <p></p>
</div>

</body>
</html>
