<!DOCTYPE html>
<html>
<head>
  <title>Fierce Planet</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js" %>
  <%= javascript_include_tag "rails" %>
  <%= javascript_include_tag "agents/classes" %>
  <%= javascript_include_tag "agents/levels" %>
  <%= javascript_include_tag "agents/game" %>
  <%= csrf_meta_tag %>
</head>
<body>

<%= yield %>

</body>
</html>
