<!DOCTYPE html>
<html>
<head>
  <title>Fierce Planet</title>
  <%= stylesheet_link_tag "styles" %>
  <link rel="stylesheet" href="stylesheets/smoothness/jquery-ui-1.8.11.custom.css">
  <%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js" %>
  <%= javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.11/jquery-ui.min.js" %>
  <%= javascript_include_tag "jquery.json-2.2.min.js" %>
  <%= javascript_include_tag "rails" %>
  <%= javascript_include_tag "agents/classes" %>
  <%= javascript_include_tag "agents/levels" %>
  <%= javascript_include_tag "agents/game" %>
  <%= javascript_include_tag "agents/game_canvas_handler" %>
  <%= javascript_include_tag "agents/level_editor" %>
  <%= csrf_meta_tag %>
</head>
<body>

<%= yield %>

</body>
</html>
